/* p{
    position: static;
} */

/* div{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;

} */

/* #box3{
    position: relative;
    top: 100px;
    left: 150px;
    
} */

/* #box3{
    position: absolute;
    top: 100px;
    left: 150px;
} */

/* #box1{
    position: fixed;
} */

/* #box4{
    position: sticky;
    top: 0px;
}

.wrapper{
    height: 1000px;
    width: 100vw;
    background-color: yellow;
} */

div{
    display: inline-block;
    border: 1px solid black;
    width: 400px;
    height: 300px;
}

#second{
    position: relative;
    top: -5vh;
    left: 90%;
}

#third{
    position: relative;
    top: 60%;
}

#fourth{
    position: relative;
    top: 50%;
    left: 90%;
}

#five{
    position: relative;
    top: -3%;
    left: 45%;
}